# Escucha en el puerto proporcionado por la variable de entorno PORT.
:{$PORT}

# Establece la raíz de la aplicación.
root * /var/www/html/public

# Mueve la petición al index.php si no se encuentra el archivo estático.
try_files {path} {path}/ /index.php

# Pasa las peticiones PHP a PHP-FPM, que está en el mismo contenedor.
php_fastcgi 127.0.0.1:9000