:80

root * /var/www/html/public

# Caddy handles static files and redirects to index.php for your Laravel routes
try_files {path} {path}/ /index.php

# PHP-FPM configuration
# The 'php_fastcgi' directive automatically handles the communication with PHP-FPM
php_fastcgi 127.0.0.1:9000